<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @create_fnss_simple_ring.n %>
</p>

<%= link_to 'Edit', edit_create_fnss_simple_ring_path(@create_fnss_simple_ring) %> |
<%= link_to 'Back', create_fnss_simple_rings_path %>
