<footer class="footer col-md-12">
    <small>
        <a href="http://www.primessf.net">Modeling & Networking Systems Research Group</a>
    </small>
    <nav>
        <ul>
            <li><small><%= link_to "About",   about_path %></small></li>
            <li><small><%= link_to "Contact", contact_path %></small></li>
        </ul>
    </nav>
</footer>
